.Container {
	display: flex;
	flex-direction: column;
	color: #fff;
	background-color: #113278;
}

.FirstRowWrapper {
	width: 100%;
	/* text-align: center; */
}
.FirstRow {
	width: 65vh;
	display: flex;
	margin: 0 20vw;
}
.SecondRow {
	background: hsla(0,0%,100%,.2);
}
.ThirdRow {
	background: rgba(0,0,0,.4);
}

.Logo {
	width: 60px;
	height: 60px;
}