.Container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 82px 40px 40px;
	color: #fff;
	background-color: #113278;
}

.FirstRowWrapper {
	width: 100%;
	/* text-align: center; */
}
.FirstRow {
	width: 65vh;
	display: grid;
	margin: 0 20vw;
	grid-template-columns: 200px 380px 146px;
}
.SecondRow {
	background: hsla(0,0%,100%,.2);
}
.ThirdRow {
	background: rgba(0,0,0,.4);
}

.Logo {
	width: 60px;
	height: 60px;
}