.Container {
	display: flex;
	flex-direction: column;
	color: #fff;
	background-color: var(--primary);
}

.FirstRowWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
.FirstRow {
	width: 1280px;
	height: 82px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.LogoContainer {
	display: flex;
	align-items: center;
	width: 250px;
}
.LogoContainer span {
	padding-left: 12px;
}
.InputContainer {
	display: flex;
	align-items: center;
}
.Input {
	color: #fff;
	width: 380px;
	height: 38px;
	margin: 0 -35px;
	padding-right: 40px;
	background-color: var(--secondary);
	outline: none;
	border: none;
	border-radius: 35px;
	transition: 0.4s ease-in;
	text-align: center;
}
.Input::placeholder {
	color: #fff;
}
.TemperatureSelection button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 28px;
	background: rgba(0,0,0,0);
	color: #fff;
	border: none;
}
.TemperatureSelection span {
	margin: 0 5px;
}
.ContentWrapper {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 80px;
	left: 0;
	width: 100vw;
	height: 312px;
	color: var(--text-dark);
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.Content {
	width: 1280px;
}
.ContentItem {
	border-top: 1px solid var(--gray);
}
.ContentSwitcher {
	display: flex;
	color: var(--gray);
	margin: 20px;
	
}
.ContentSwitcher span {
	text-align: center;
	padding-top: 4px;	
	padding-right: 5px;
	border: 1px solid rgba(0,0,0,0.4);
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.ContentSwitcherActive {
	color: #fff;
	background-color: var(--temperature-active);
}


.SecondRowWrapper {
	background-color: var(--secondary);
	height: 40px;
}
.SecondRow {
}
.ThirdRow {
	background: rgba(0, 0, 0, 0.4);
	height: 40px;
}

.Logo {
	width: 60px;
	height: 60px;
}
